/*
Seletor Universal - com ele toda configuração 
feita dentro dele altera a pagina inteira


*{
	border: 1px solid red;

}


Seletor de texto

h1{
	color: green;
}*/



/*Seletor de classe

.verde{
	color: green;

}

p.verde{
	color: green;
}*/

/*Seletores id*/

/*#cabeçalho{
	border: 1px solid blue;
}
*/

/*div a{

	color: green;
}*/

/*h1+p{

	color: red;
}*/

h1~p{

	color: pink;
}
















